.About img {
  align-content: center;
  position: absolute;
  top: 30%;
  left: 50%;
  margin-left: -(X/2) px;
  margin-top: -(Y/2) px;
}
/* .About img:hover {
	box-shadow: 0 16px 18px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
} */

.About {
  display: flex;
  /*position:fixed;*/
  width: 100%;
  flex-direction: column;
  justify-content: center;

  background-image: url("./beach.jpg");
  background-size: cover;

  background-repeat: no-repeat;
  height: 100rem;
}

/* .Search {
  background-image: url("./kids.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100rem;
} */
.About h1 {
  /* color: #bf4aa8; */
  font-style: italic;
  font-family: "Roboto", sans-serif;
  font-size: 10rem;
  text-align: center;
  /* margin-top: -350px; */
}
.About p {
  /* color: #bf4aa8; */
  font-style: Arial;
  font-family: "Work Sans", sans-serif;
  font-size: 3rem;
}
.description {
  width: 100%;
  text-align: center;
  margin-top: -40rem;
  /* margin: 0 auto; */
  display: inline;
  background-image: linear-gradient(
    to left,
    hsla(307, 50%, 65%, 0.2),
    hsla(337, 50%, 65%, 0.2)
  );
}
.description h1 {
  -webkit-animation: tracking-in-contract 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@media only screen and (max-width: 768px) {
  .About {
    background-size: 170% 120%;
  }
}
/*.margin{

  margin-top: 150px;

}*/

/* entrance keyframe */
@-webkit-keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}
