.navbar {
  margin-bottom: 0px;
  font-size: 20px;
  border-radius: 0;
  border: none;
}

img:hover {
  box-shadow: 0 16px 18px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.navbar-brand,
.navbar-nav > li > a {
  text-shadow: none !important;
  color: #ffffff !important;
}

/* img {
	-moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
} */

.navbar-brand {
  font-size: 24px;
  min-height: 58px;
}
.navbar-toggler {
  padding: 0.01rem 0;
  font-size: 2rem;
}

.navbar-nav > li > a:focus,
.navbar-nav > li > a:hover {
  color: #130101 !important;
  line-height: 28px;
}

.navbar-nav > .active > a:focus,
.navbar-nav > .active > a:hover {
  color: #130101 !important;
  font-size: 20px;
  /*background-color: white;*/
}
.googleBtn {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  background-color: #51d0de;
  line-height: 58px;
}

.logout {
  cursor: pointer;
}

/* pulse keyframes */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
